@model EcommerceCommon.Infrastructure.ViewModel.Web.CustomerOrderViewModel
@using EcommerceCommon.Infrastructure.Enums

<div class="container">
    @await Html.PartialAsync("_CustomerBread")
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("_CustomerAside")
        </div>
        <div class="col-md-9 ">
            <div class="heading">
                <span>Chi tiết đơn hàng #@Model.Code</span>
                <span class="split">-</span>
                <span class="order-status">@Model.OrderStatus</span>

            </div>
            <div class="created-date">
                Ngày đặt hàng: @Model.CreatedDate
            </div>
            <div class="group-section">
                <div class="section">
                    <div class="title">Địa chỉ người nhận</div>
                    <div class="content">
                        <p class="name">@Model.CustomerName</p>
                        <p class="address">
                            <span>Địa chỉ: </span>
                            @Model.Address
                        </p>
                        <p class="phone">
                            <span>Điện thoại: </span>
                            @Model.Phone
                        </p>
                    </div>
                </div>
                <div class="section">
                    <div class="title">Hình thức thanh toán</div>
                    <div class="content">
                        <p>@Model.PaymentMethod</p>
                    </div>
                </div>
            </div>
            <table class="order-detail">
                <thead>
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Tạm tính</th>
                    </tr>
                </thead>
                @if (Model.CustomerOrderDetailViewModels.Count != 0)
                {
                    <tbody>
                        @foreach (var item in Model.CustomerOrderDetailViewModels)
                        {
                            <tr>
                                <td>
                                    <div class="product-item">
                                        <img src="~/images/@item.ProductImage" alt="@item.ProductName" />
                                        <div class="product-info">
                                            <a href="@Url.Action("GetProductDetail","ProductDetail",new { ProductAttributeId = item.ProductAttributeId})" class="product-info-name">
                                                @item.ProductName
                                                @if (item.ProductColor != null)
                                                {
                                                    @(" ,Màu " + item.ProductColor + " ")
                                                }
                                                @if (item.ProductSize != null)
                                                {
                                                    @(",Cỡ " + item.ProductSize + " ")
                                                }
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td class="price">@(item.Price)₫</td>
                                <td class="quantity">@item.Quantity</td>
                                <td class="raw-total">@(item.TotalPrice)₫</td>
                            </tr>
                        }

                    </tbody>
                }
                <tfoot>
                    <tr>
                        <td colspan="3">
                            <span>Tạm tính</span>
                        </td>
                        <td>
                            @(Model.NotionalAmount)₫
                        </td>
                    </tr>
                    @if (Model.DiscountAmount != "0")
                    {
                        <tr>
                            <td colspan="3">
                                <span>Giảm giá</span>

                            </td>
                            <td>
                                @(Model.DiscountAmount)₫
                            </td>
                        </tr>

                    }
                    <tr>
                        <td colspan="3">
                            <span>Tổng cộng</span>
                        </td>
                        <td>
                            <span class="sum">@(Model.TotalAmount)₫</span>
                        </td>
                    </tr>
                </tfoot>

            </table>
            <a asp-action="GetOrderTracking" asp-controller="Customer" asp-route-Code="@Model.Code"  class="btn btn-primary">Theo dõi đơn hàng</a>

        </div>
    </div>
</div>
