@model IList<EcommerceCommon.Infrastructure.ViewModel.Admin.CartAdminViewModel>
@using EcommerceCommon.Infrastructure.Enums
@{
    var stt = 1;
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Giỏ hàng</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Giỏ hàng</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table id="data-table" class="table table-bordered table-striped text-center">
                                <thead>
                                    <tr>
                                        <th style="width:30px !important">STT</th>
                                        <th>Tên giỏ hàng </th>
                                        <th>Tên tài khoản </th>
                                        <th>Tạm tính </th>
                                        <th>Thành tiền </th>
                                        <th>Trạng thái </th>
                                        <th style="width:80px !important">Chức năng </th>
                                    </tr>
                                </thead>

                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td> @stt </td>
                                            <td> @item.CartName </td>
                                            <td>@item.CustomerName </td>
                                            <td>@(item.NotionalPrice)đ </td>
                                            <td>@(item.TotalPrice)đ</td>
                                            @if(item.CartStatus == CartStatus.PreOrder)
                                            {
                                                <td>Đang sử dụng</td>
                                            }
                                            else
                                            {
                                                <td>Đã đặt hàng</td>
                                            }
                                            <td>
                                                <a class="btn btn-success text-white" onclick="showInPopup('@Url.Action("Detail","Cart",new { Id =item.Id},Context.Request.Scheme)','Chi tiết đơn hàng')" title="Chi tiết giỏ hàng"><i class="fas fa-search"></i> </a>
                                            </td>
                                        </tr>
                                        stt++;
                                    }
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>