@model Ecommerce.Service.ViewModels.Admin.CouponModel.AddCouponModel;
@using EcommerceCommon.Infrastructure.Enums

@{
    ViewData["Title"] = "CreateCoupon";
    Layout = null;
}


    <form asp-action="Create" onsubmit="return jQueryAjaxPost(this);" autocomplete="off" enctype="multipart/form-data">
        <div class="form-group text-center">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label" asp-for="@Model.AddCouponViewModel.Name"></label>
                        </div>
                        <div class="col-md-8">
                            <input asp-for="@Model.AddCouponViewModel.Name" class="form-control" placeholder="Nhập tên nhà sản xuất">
                            <span asp-validation-for="@Model.AddCouponViewModel.Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label" asp-for="@Model.AddCouponViewModel.CategoryId"></label>
                        </div>
                        <div class="col-md-8">
                            <select asp-for="@Model.AddCouponViewModel.CategoryId" id="CategoryId">
                                <option value="@null" selected>Không có</option>
                                @foreach (var item in Model.CategoryList)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label" asp-for="@Model.AddCouponViewModel.Amount"></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" asp-for="@Model.AddCouponViewModel.Amount" class="form-control" placeholder="Nhập số tiền"
                                   oninput='this.value=this.value.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ".")'>
                            <span asp-validation-for="@Model.AddCouponViewModel.Amount" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label" asp-for="@Model.AddCouponViewModel.NumberApply"></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" asp-for="@Model.AddCouponViewModel.NumberApply" class="form-control" placeholder="Nhập số lượng"
                                   oninput='this.value=this.value.replace(/\D/g, "")'>
                            <span asp-validation-for="@Model.AddCouponViewModel.NumberApply" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label" asp-for="@Model.AddCouponViewModel.StartTime"></label>
                        </div>
                        <div class="col-md-8">
                            <input type="datetime" asp-for="@Model.AddCouponViewModel.StartTime" class="form-control" placeholder="Nhập ngày bắt đầu" data-toggle="datepicker">
                            <span asp-validation-for="@Model.AddCouponViewModel.StartTime" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label" asp-for="@Model.AddCouponViewModel.EndTime"></label>
                        </div>
                        <div class="col-md-8">
                            <input type="datetime" asp-for="@Model.AddCouponViewModel.EndTime" class="form-control" placeholder="Nhập ngày kết thúc" data-toggle="datepicker">
                            <span asp-validation-for="@Model.AddCouponViewModel.EndTime" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label" asp-for="@Model.AddCouponViewModel.CollectionId"></label>
                        </div>
                        <div class="col-md-4">
                            <select asp-for="@Model.AddCouponViewModel.CollectionId" id="CollectionId">
                                <option value="@null" selected>Không có</option>
                                @foreach (var item in Model.CollectionList)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Lưu lại</button>
        </div>
    </form>




