@model List<EcommerceCommon.Infrastructure.ViewModel.Admin.ProductImageAdminViewModel>
@{
    var stt = 1;
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Ảnh sản phẩm</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
                        <li class="breadcrumb-item active">Ảnh sản phẩm</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card ">
                        <div class="card-header">
                            <a onclick="showInPopup('@Url.Action("Create","ProductImage",new { ProductId = ViewBag.ProductId},Context.Request.Scheme)','Thêm ảnh')" class="btn btn-success text-white"><i class="fas fa-pencil-alt"></i>Thêm mới</a>
                        </div>

                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="data-table" class="table table-bordered table-striped text-center">
                                <thead>
                                    <tr>
                                        <th style="width:30px !important">STT</th>
                                        <th style="width:200px !important">Tên sản phẩm</th>
                                        <th style="width:100px !important">Màu sắc</th>
                                        <th style="width:100px !important">Ảnh</th>
                                        <th style="width:100px !important">Ảnh chính</th>
                                        <th style="width:100px !important">Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@stt</td>
                                        <td>@item.ProductName</td>
                                        <td> @item.ColorName</td>
                                        <td><img src="~/images/@item.ImageLink" class="small-img" /></td>
                                        @if (item.IsMainImage)
                                        {
                                            <td>Có</td>
                                        }
                                        else
                                        {
                                            <td>Không</td>
                                        }
                                        <td>
                                            <a onclick="showInPopup('@Url.Action("Edit","ProductImage",new { id =item.Id},Context.Request.Scheme)','Cập nhật ảnh')" title="Cập nhật ảnh" class="btn btn-primary text-white "><i class="fas fa-random"></i></a>
                                            <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                                                <button type="submit" title="Xóa ảnh" class="btn btn-danger">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                        stt++;
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>