@model List<EcommerceCommon.Infrastructure.ViewModel.Admin.CustomerAdminViewModel>
@{
    var stt = 1;
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Khách hàng</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Khách hàng</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card ">
                        <div class="card-header">
                            <a onclick="showInPopup('@Url.Action("Create","Customer",null,Context.Request.Scheme)','Tạo mới khách hàng')" class="btn btn-success text-white"><i class="fas fa-pencil-alt"></i>Thêm mới</a>
                        </div>

                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="data-table" class="table table-bordered table-striped text-center">
                                <thead>
                                    <tr>
                                        <th style="width:30px !important"> STT </th>
                                        <th style="width:80px !important"> Tên tài khoản </th>
                                        <th style="width:80px !important"> Tên khách hàng </th>
                                        <th style="width:80px !important"> Giới tính </th>
                                        <th style="width:80px !important"> Ngày sinh </th>
                                        <th style="width:80px !important"> Số điện thoại </th>
                                        <th style="width:80px !important"> Email </th>
                                        <th style="width:80px !important"> Ảnh Avatar </th>
                                        <th style="width:80px !important"> Chức năng </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@stt</td>
                                            <td> @item.UserName </td>
                                            <td>@item.Name </td>
                                            <td> @item.Gender</td>
                                            <td>@item.Birthday </td>
                                            <td>@item.Phone </td>
                                            <td> @item.Email</td>
                                            <td><img src="~/images/@item.AvatarUrl" class="small-img"></td>
                                            <td>
                                                <a onclick="showInPopup('@Url.Action("Edit","Customer",new { id =item.Id},Context.Request.Scheme)','Sửa khách hàng')" class="btn btn-info text-white "><i class="fas fa-random"></i></a>
                                                <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                                                    <button type="submit" value="Xóa" class="btn btn-danger">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        stt++;
                                    }
                                </tbody>
                                <tfoot>
                                    <tr >
                                        <th> STT </th>
                                        <th> Tên tài khoản </th>
                                        <th> Tên khách hàng </th>
                                        <th> Giới tính </th>
                                        <th> Ngày sinh </th>
                                        <th> Số điện thoại </th>
                                        <th> Email </th>
                                        <th> Ảnh Avatar </th>
                                        <th> Chức năng </th>

                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
