@model Ecommerce.Service.ViewModels.Admin.OrderModel.EditOrderViewModel
@using Ecommerce.Domain.Models
@{
    ViewData["Title"] = "EditOrder";
    Layout = null;
}


<form asp-action="Edit" asp-controller="Order" onsubmit="return jQueryAjaxPost(this);" autocomplete="off" spellcheck="false" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4"><label asp-for="@Model.Code" class="control-label"></label></div>
                    <div class="col-md-8">
                        <input asp-for="@Model.Code" class="form-control" disabled="">
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4"><label asp-for="@Model.CustomerName" class="control-label"></label></div>
                    <div class="col-md-8">
                        <input asp-for="@Model.CustomerName" class="form-control" disabled="">
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4"><label asp-for="@Model.Phone" class="control-label"></label></div>
                    <div class="col-md-8">
                        <input asp-for="@Model.Phone" class="form-control" disabled="">
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4"><label asp-for="@Model.Address" class="control-label"></label></div>
                    <div class="col-md-8">
                        <input asp-for="@Model.Address" class="form-control" disabled="">
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5"><label asp-for="@Model.OrderStatus" class="control-label"></label></div>
                    <div class="col-md-5 mr-auto">
                        <select asp-for="@Model.OrderStatus" >
                            @if (Model.OrderStatus == OrderStatus.OrderSuccess)
                            {
                                <option value="@OrderStatus.OrderSuccess" selected>@OrderStatus.OrderSuccess</option>
                                <option value="@OrderStatus.PickingUp">@OrderStatus.PickingUp</option>
                                <option value="@OrderStatus.PackageDone">@OrderStatus.PackageDone</option>
                                <option value="@OrderStatus.Delivering">@OrderStatus.Delivering</option>
                                <option value="@OrderStatus.DeliveredSuccess">@OrderStatus.DeliveredSuccess</option>
                                <option value="@OrderStatus.Cancle">@OrderStatus.Cancle</option>
                            }
                            else if (Model.OrderStatus == OrderStatus.PickingUp)
                            {
                                <option value="@OrderStatus.PickingUp" selected>@OrderStatus.PickingUp</option>
                                <option value="@OrderStatus.PackageDone">@OrderStatus.PackageDone</option>
                                <option value="@OrderStatus.Delivering">@OrderStatus.Delivering</option>
                                <option value="@OrderStatus.DeliveredSuccess">@OrderStatus.DeliveredSuccess</option>
                                <option value="@OrderStatus.Cancle">@OrderStatus.Cancle</option>
                            }
                            else if (Model.OrderStatus == OrderStatus.PackageDone)
                            {
                                <option value="@OrderStatus.PackageDone" selected>@OrderStatus.PackageDone</option>
                                <option value="@OrderStatus.Delivering">@OrderStatus.Delivering</option>
                                <option value="@OrderStatus.DeliveredSuccess">@OrderStatus.DeliveredSuccess</option>
                                <option value="@OrderStatus.Cancle">@OrderStatus.Cancle</option>
                            }
                            else if (Model.OrderStatus == OrderStatus.Delivering)
                            {
                                <option value="@OrderStatus.Delivering" selected>@OrderStatus.Delivering</option>
                                <option value="@OrderStatus.DeliveredSuccess">@OrderStatus.DeliveredSuccess</option>
                                <option value="@OrderStatus.Cancle">@OrderStatus.Cancle</option>
                            }
                        </select>
                    </div>

                </div>
            </div>
            
            
        </div>
    </div>
    


    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </div>
</form>
